<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589024895521-739jtqm33s963rq635f9l56spjs91bdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589024895521-739jtqm33s963rq635f9l56spjs91bdo</string>
	<key>API_KEY</key>
	<string>AIzaSyCfsMKv8XdQOBXk6gJWchZOf7XOYoEKbhg</string>
	<key>GCM_SENDER_ID</key>
	<string>589024895521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.com.bbo.JustCircleCIRxSwift</string>
	<key>PROJECT_ID</key>
	<string>justcirclerx</string>
	<key>STORAGE_BUCKET</key>
	<string>justcirclerx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589024895521:ios:5ee8d6418f5d943e7df960</string>
	<key>DATABASE_URL</key>
	<string>https://justcirclerx.firebaseio.com</string>
</dict>
</plist>